.card1{background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/arvrbg.png");
       height: 100px;
       width: 400px;
       background-size: cover; 
       padding-top: 500px;
      } 
 .card2{border: 10px;
        border-radius: 15px;
        background-color: white;
 }
 .button1{color:#171f46;
          padding: 13px 20px 13px 20px;
        border-radius: 10px;
        margin-left:30px ;
    }
 .button2{background-color: #5752ab;
            padding: 13px 20px 13px 20px;
        border-radius: 10px;
    margin-left: 70px;
    color: white;
    border: none;}
    
h1{
    color: #5752ab;
    margin-left: 20px;
   
}    
    
p{
    color: #323f4b;
    margin-left: 20px;
}

 